body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  color: #383838;
  background-color: #FAFBFC;
  padding-bottom: 50px;
}

.header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 1px #ccc;
  position: fixed;
  background-color: #fff;
}

.header-grid {
  width: 1300px;
  margin: 0 auto;
}

.grid {
  width: 1300px;
  margin: 0 auto;
}

.logo, .input-group {
  display: inline-block;
}

.logo-img {
  width: 100px;
  vertical-align: middle;
}

.input-group {
  margin-left: 210px;
}

.header__input {
  padding: 7px;
  border-radius: 3px;
  font-size: 15px;
  border: 1px solid #ccc;
  transition: all .2s ease-out;
  width: 300px;
  outline: 0;
  margin-right: 15px;
  color: #383838;
}

.header__input:hover {
  border-color: #a9a9a9;
}

.header__input:focus {
  box-shadow: 0 0 0 2px #4281A4;
  border-color: transparent;
}

.header__btn {
  padding: 9px 12px 7px;
  background-color: #27AE60;
  font-size: 15px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.header__btn:hover {
  background-color: #219251;
  transition: all .2s ease-out;
}

.main-content {
  padding-top: 75px;
}

#top-tabs {
  margin: 0 auto;
  width: 30%;
}

#top-tabs ul {
  width: 100%;
  margin: 0;
  list-style: none;
}

#top-tabs li {
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;
  width: 32%;
  text-align: center;
  cursor: pointer;
  outline: 0;
}

#top-tabs a {
  text-decoration: none;
  outline: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: #383838;
}

#top-tabs a:hover {
  color: #1565C0;
}

.ui-tabs-active {
  border-top: 3px solid #1565C0;
  background-color: #fff;
}

.ui-tabs-active a {
  color: #1565C0;
}

.table {
  table-layout: fixed;
  font-size: 16px;
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

.table th {
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  vertical-align: bottom;
}

.table td {
  padding-top: 7px;
  padding-bottom: 7px;
}

.table-top {
  background-color: #fff;
  margin: 0 auto;
  border-radius: 3px;
  padding: 20px;
}

.top-data {
  text-align: right;
}

.align-r {
  text-align: right;
}

.align-l {
  text-align: left;
}

.rank {
  width: 40px;
  text-align: center;
}

.table-top tbody tr {
  cursor: pointer;
  padding-right: 2px;
  padding-left: 2px;
}

.table-top tbody tr:hover {
  background-color: rgba(65,129,163,0.11);
}

.optimize-block {
  padding-bottom: 50px;
  margin-top: 50px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  transition: all .2s ease-out;
}

.optimize__item {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 3px;
  margin-bottom: 10px;
  cursor: pointer;
}

.optimize__item:hover {
  background-color: rgba(33,146,81,0.11);
}

.optimize__icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}

.item__name {
  width: 10%;
  display: inline-block;
  float: left;
}

.item__content {
  float: left;
  width: 40%;
}

.optimize__item div:nth-of-type(1) {
  margin-right: 40px;
}

.icon-green {
  background-color: #2ECC71;
}

.icon-orange {
  background-color: #F39C12;
}

.icon-red {
  background-color: #E74C3C;
}

.icon-more {
  color: #a9a9a9;
  float: right;
  margin-top: 3px;
}

.bold {
  font-weight: 700;
}

.selected-top {
  background-color: rgba(65, 129, 163, 0.44);
}

.reccomendations {
  display: inline-block;
  background: rgba(80,243,17,0.11);
  border-radius: 3px;
  width: 100%;
  margin-bottom: 15px;
}

.reccom__ul {
  margin: 0;
  padding: 20px;
  list-style: none;
}

.no-hover:hover {
  background-color: #fff;
}

.content-edit {
  width: 92%;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  min-height: 472px;
  float: left;
  padding: 20px;
}

.content-edit:focus {
  box-shadow: 0 0 0 2px #4281A4;
  border-color: transparent;
  outline: none;
  transition: all .2s ease-out;
}

.reccom__bold {
  font-weight: 700;
}

.cursor-pointer {
  cursor: pointer;
}

.align-c {
  text-align: center;
}

.add-url {
  background-color: #FFFFFF;
  border-top: 1px solid #ccc;
  padding: 15px 30px;
}

.add__input {
  margin-left: 10px;
}

.main-data {
  color: #0277BD;
  width: 72px;
}

.actions {
  background-color: rgba(159, 213, 230, 0.3);
  padding: 20px 30px;
}

.action__ul {
  margin: 0;
  list-style: none;
  padding: 14px 0 0;
}

.heading {
  font-size: 26px;
  margin-bottom: 30px;
  color: #607D8B;
}

.heading__url {

}

.highlight {
  color: #1565c0;
}

.action__heading {
  font-size: 18px;
}

.btn-download {
  float: right;
  background-color: #2196F3;
  padding: 9px 12px 7px;
  font-size: 15px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.btn-download:hover {
  background-color: #1E86D8;
}

.open-btn {
  float: right;
  padding: 9px 12px 7px;
  font-size: 15px;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  border: 1px solid #2E7D32;
  color: #2E7D32;
}

.open-btn:hover {
  background-color: #2E7D32;
  color: #fff;
}

.not-visible {
  display: none;
}

/*Utility*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
